@import '~/mixins.scss';

.likeButton {
  border: none;
  padding: 0;
  margin: 0;
  background: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
  outline: none;

  background-color: var(--book--svg-primary-color);
  width: 56px;
  height: 56px;
  svg {
    fill: var(--book--svg-primary-color);
    stroke: var(--book--svg-stroke-primary-color);
  }

  &:hover {
    svg {
      fill: red;
      stroke: red;
    }
  }
}

.liked {
  svg {
    fill: red;
    stroke: red;
  }
}
