@import '~/mixins.scss';

.contentContainer {
  display: flex;
  @include flexCenter;
  flex-direction: column;
  img {
    width: 100%;
    cursor: pointer;
  }
  .title {
    width: 100%;
    @include bebas;
    font-size: 24px;
    line-height: 32px;
    cursor: pointer;
    min-height: 64px;
    color: var(--book--primary-color);
    margin-top: 20px;
  }
  .subtitle {
    width: 100%;
    @include heliosRegular;
    font-size: 16px;
    line-height: 24px;
    color: var(--book--secondary-color);
    min-height: 72px;
    cursor: pointer;
    margin-top: 8px;
  }
  .additionally {
    margin-top: 32px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    span {
      cursor: default;
      @include bebas;
      font-size: 24px;
      line-height: 32px;
    }
  }
  .more {
    width: 100%;
    &:hover {
      color: var(--book--secondary-color);
    }
  }
}

form {
  margin-bottom: 72px;
}
