@import '~/mixins.scss';

.editProfileContainer {
  .back {
    margin-bottom: 40px;
    button {
      width: 35px;
      height: 35px;
      padding: 0;
      div {
        width: 35px;
        height: 35px;
        svg {
          height: auto;
          width: 35px;
        }
      }
    }
  }
  .form {
    display: flex;
    width: 100%;
    div {
      width: 50%;
      form {
        width: 100%;
        div {
          width: 100%;
        }
      }
    }
  }
}
