@import '~/mixins.scss';

.title {
  font-size: 56px;
  line-height: 64px;
  @include bebas;
}

.loading {
  min-height: 50vh;
  display: flex;
  @include flexCenter;
  @extend .title;
}

.error {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  @include flexCenter;
  @extend .title;
}
