@import '~/mixins.scss';

.accountSettingsContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  color: var(--book--primary-color);
  & > .userContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    @include flexCenter;
    & > .title {
      color: var(--book--primary-color);
      margin-bottom: 30px;
      @include bebas;
      font-size: 56px;
      line-height: 64px;
    }
    & span {
      color: var(--book--secondary-color);
      margin-bottom: 15px;
    }
  }
  & > .container {
    flex: 1;
    margin: 100px 0 50px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    & > div {
      display: flex;
    }
    button {
      background-color: var(--book--secondary-color);
    }
  }
}
