@import '~/mixins.scss';
.tabs {
  border-bottom: 1px solid var(--book--secondary2-color);
  display: flex;
  padding: 0 32px;
  button {
    width: 235px;
    @include bebas;
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
    height: 70px;
    &:hover {
      &:not(:disabled) {
        border-bottom: solid 2px var(--book--primary-color);
      }
    }
  }
}
.activeTab {
  border-bottom: solid 2px var(--book--primary-color);
}
