@import '~/mixins.scss';
.container {
  padding: 5% 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  @include bebas;
  > svg {
    font-size: 35vh;
    stroke-width: 25px;
    color: var(--book--bg-color);
    stroke: var(--book--primary2-color);
  }
  > h2 {
    display: flex;
    @include flexCenter;
    font-size: 15vh;
    color: var(--book--primary2-color);
  }
  & h3 {
    @extend h2;
    font-size: 10vh;
    color: var(--book--secondary-color);
  }
}
